body
{
	background-color: black;
	color: white;
	height: 0;
	overflow: hidden;
}

h1
{
	text-align: center;
}

.particle
{
	position: absolute;
	user-select: none;
	-moz-user-select: none;
	font-style: italic;
	font-weight: bold;
}

#particles-area
{
	margin: 0 auto;
	text-align: center;
}

