@font-face
{
	font-family: pixel;
	src: url("fonts/ArcadeClassic.ttf");
}

body
{
	background-color: black;
	color: white;
	height: 0;
	overflow: hidden;
	font-smooth: never;
}

body, button
{
	font-family: "pixel";
}

button
{
	background-color: black;
	border: 3px white solid;
	padding: 30px;
	color: white;
	font-size: 34px;
}

button:active
{
	background-color: grey;
}

h1
{
	text-align: center;
	font-size: 64px;
}

.particle
{
	position: absolute;
	user-select: none;
	-moz-user-select: none;
	font-style: italic;
	font-weight: bold;
	z-index: 99;
}

img.upscaled
{
	width: 64px;
	height: 64px;
	image-rendering: crisp-edges;
	-moz-image-rendering: pixelated;
}

#grid
{
	text-align: center;
}

#grid progress
{
	width: 64px;
}

.mine-cell
{
	display: inline-block;
	width: 64px;
	height: 64px;
}

#particles-area
{
	margin: 0 auto;
	text-align: center;
	width: 10em;
}

.resource
{
	font-size: 24px;
}

