@font-face
{
	font-family: pixel;
	src: url("fonts/ArcadeClassic.ttf");
}

body
{
	user-select: none;
	-moz-user-select: none;
	background-color: #303030;
	color: white;
	height: 0;
	overflow: hidden;
	font-smooth: never;
	touch-action: manipulation;
}

.tab-content
{
	justify-content: space-between;
	flex-flow: row wrap;
	align-items: flex-start;
	align-content: flex-start;
	position: relative;
}

.area
{
	vertical-align: top;
	display: inline-block;
}

body, button
{
	font-family: "pixel";
}

button
{
	background-color: black;
	border: 3px white solid;
	color: white;
}

button:active
{
	background-color: grey;
}

h1
{
	text-align: center;
	font-size: 64px;
	margin: 0;
}

.particle
{
	position: absolute;
	font-style: italic;
	font-weight: bold;
	color: yellow;
	z-index: 99;
}

.contained-icon
{
	width: 100%;
	image-rendering: crisp-edges;
	-moz-image-rendering: pixelated;
}


/* --- GRID --- */
.mine-cell
{
	display: inline-block;
}

.cell-progress
{
	width: 75px;
}

/* --- RESOURCES AREA ---*/

#resources-area
{
	margin: 1em 0;
	max-width: 100vw;
}

.resource
{
	font-size: 24px;
}

.resource.resource-highlight
{
	font-weight: bold;
	color: yellow;
	transition: all 0.4s;
}

.resource.resource-highlight-loss
{
	font-weight: bold;
	color: red;
	transition: all 0.4s;
}

.resource-container
{
	display: inline-block;
	margin: 0 1em;
	background: black;
	border: solid white 1px;
	padding: 0.3em;
}

.resource-container button
{
	margin: 0.25em;
}

.scrollmenu
{
	overflow: auto;
	white-space: nowrap;
}

.sell-button
{
	width: 100%;
}

/* ---------- TABS ------------ */

.tab-container
{
	display: flex;
	justify-content: flex-start;
}

.tab
{
	display: inline-block;
	vertical-align: top;
	border-top: solid 3px white;
	border-left: solid 3px white;
	border-right: solid 3px white;
	margin-right: 1em;
	padding: 0.5em 1em;
}

.tab-content
{
	border: solid 3px white;
	text-align: center;
	padding: 3em;
}

.tab.enabled
{
}

.tab.disabled
{
	background-color: black;
}

.tab-content.disabled
{
	display: none;
}

.tab-content.enabled
{
	display: block;
}

